<div class="card" *ngIf="productItem.productName">
  <img [src]="productItem.imgUrl" class="card-img-top" *ngIf="productItem.imgUrl">
  <div class="card-body">
    <h4 class="card-title">{{ productItem.productName }}</h4>
    <p class="card-text">{{ productItem.price | currency:'USD':true }}</p>
    <p class="card-text">Category: {{ productItem.category }}</p>
  </div>
  <div class="card-footer">
    <button class="btn btn-secondary text-white btn-block" (click)="addToCart()">Add to Cart</button>
    <app-product-counter (quantityChange)="setQuantity($event)"></app-product-counter>
  </div>
</div>