<div class="row">
  <div class="col-md-4 offset-md-4">
    <div class="guest-form-card card">

      <div class="card-header text-center">
        <h2>Confirm Registration</h2>
      </div>

      <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="confirm()">
          <div class="form-group">
            <label for="email">Email</label>
            <input placeholder='Email' type="email" id="email" class="form-control" formControlName="email"/>
          </div>

          <div class="form-group">
            <label for="code">Confirmation Code</label>
            <input type="code" id="code" class="form-control" formControlName="code"/>
            <span class="invalid-feedback">
              <span *ngIf='!codeInput.value'>Enter confirmation code sent to {{email}}</span>
            </span>
          </div>

          <button class="btn btn-primary btn-block" [disabled]="form.invalid">Confirm</button>
          <div class='wrapper'>
            <button class="btn btn-link" (click)="sendAgain()" role='button' aria-pressed="true">Didn't receive a code?</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
