<div class="row">
  <div class="col-md-4 offset-md-4">
    <div class="guest-form-card card">

      <div class="card-header text-center">
        <h2>Sign up</h2>
      </div>

      <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="signUp()">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" class="form-control" [ngClass]="{ 'is-invalid': form.get('email').touched && form.get('email').invalid }" formControlName="email"/>
            <span class="invalid-feedback">
              <span *ngIf="form.get('email').hasError('required')">Email can't be blank.</span>
              <span *ngIf="form.get('email').hasError('email')">Email must be valid.</span>
            </span>
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" class="form-control" [ngClass]="{ 'is-invalid': form.get('password').touched && form.get('password').invalid }" formControlName="password"/>
            <span class="invalid-feedback">
              <span *ngIf="form.get('password').hasError('required')">Password can't be blank.</span>
              <span *ngIf="form.get('password').hasError('symbol')">Password must contain a valid symbol: !@#$%^&*()_+</span>
              <span *ngIf="form.get('password').hasError('minlength')">Password must contain minimum 8 characters</span>
            </span>
          </div>

          <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" id="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': form.get('confirmPassword').touched && form.get('confirmPassword').invalid }" formControlName="confirmPassword"/>
            <span class="invalid-feedback">Passwords must match.</span>
          </div>
          
          <div class="form-group">
            <label for="email">Address Line</label>
            <input type="text" id="addressLine" class="form-control" [ngClass]="{ 'is-invalid': form.get('addressLine').touched && form.get('addressLine').invalid }" formControlName="addressLine"/>
            <span class="invalid-feedback">
              <span *ngIf="form.get('addressLine').hasError('required')">Address Line can't be blank</span>
            </span>
          </div>

          <div class="form-group">
            <label for="email">Address Type</label>
            <input type="text" id="addressType" class="form-control" [ngClass]="{ 'is-invalid': form.get('addressType').touched && form.get('addressType').invalid }" formControlName="addressType"/>
            <span class="invalid-feedback">
              <span *ngIf="form.get('addressType').hasError('required')">Address Type can't be blank</span>
            </span>
          </div>

          <div class="form-group">
            <label for="email">City</label>
            <input type="text" id="city" class="form-control" [ngClass]="{ 'is-invalid': form.get('city').touched && form.get('city').invalid }" formControlName="city"/>
            <span class="invalid-feedback">
              <span *ngIf="form.get('city').hasError('required')">City can't be blank</span>
            </span>
          </div>

          <div class="form-group">
            <label for="email">Region</label>
            <input type="text" id="region" class="form-control" [ngClass]="{ 'is-invalid': form.get('region').touched && form.get('region').invalid }" formControlName="region"/>
            <span class="invalid-feedback">
              <span *ngIf="form.get('region').hasError('required')">region can't be blank</span>
            </span>
          </div>

          <div class="form-group">
            <label for="email">Postal Code</label>
            <input type="text" id="postal" class="form-control" [ngClass]="{ 'is-invalid': form.get('postal').touched && form.get('postal').invalid }" formControlName="postal"/>
            <span class="invalid-feedback">
              <span *ngIf="form.get('postal').hasError('required')">Postal Code can't be blank</span>
            </span>
          </div>

          <div class="form-group">
            <label for="email">Country</label>
            <input type="text" id="country" class="form-control" [ngClass]="{ 'is-invalid': form.get('country').touched && form.get('country').invalid }" formControlName="country"/>
            <span class="invalid-feedback">
              <span *ngIf="form.get('country').hasError('required')">Country can't be blank</span>
            </span>
          </div>

          <button class="btn btn-primary btn-block" [disabled]="form.invalid">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>