<h1>Shipping</h1>
<button routerLink="/shopping-cart" class="btn btn-danger">Back to Shopping Cart</button>
<hr>
<div class="row">
  <div class="col-6">
    <app-shipping-form></app-shipping-form>
  </div>
  <div class="col-6" *ngIf="cart$">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Order Summary</h4>
        <p class="card-text">You have {{ itemCount }} items in your shopping cart.</p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let item of cart$">
            {{ item.quantity }} x {{ item.productName }}
            <div class="float-right">
              {{ item.price | currency:'USD':true }}
            </div>
          </li>
          <li class="list-group-item font-weight-bold">
            Cart Total
            <div class="float-right">
              {{ cartTotal | currency:'USD':true }}
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>